beautifulsoup4
certifi
charset-normalizer
click
cssselect
feedfinder2
feedparser
filelock
flake8
idna
jieba3k
joblib
lxml
mccabe
mypy
mypy-extensions
newspaper3k
nltk
numpy
pandas
Pillow
pycodestyle
pyflakes
pymongo
python-dateutil
pytz
PyYAML
regex
requests
requests-file
sgmllib3k
six
soupsieve
tinysegmenter
tldextract
toml
tqdm
typing-extensions
urllib3
